html {
    scroll-behavior: smooth;
}

body {
    background-color: #0C222F;
    background-image: url(./img/wepik-export-20230611094823b9Kv\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.header__logo {
    padding-top: 24px;
    padding-left: 20px;
}

.header__link-area {
    padding: 15px 0;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
}

.vector {
    position: absolute;
    width: 1500px;
    height: 0px;
    left: 300px;
    top: 105px;
    border: 2px solid #E4E2DD;
    transform: rotate(0.01deg);
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
}

.page-header {
    display: flex;
}

.page-header__container {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    gap: 50px;
    list-style: none;
}

.site-nav__item {
    margin-bottom: 32px;
}

.site-nav__link {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #E4E2DD;
    text-decoration: none;
}

.hero {
    width: 1440px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero__title {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 330px;
}

.menu {
    padding-left: 30px;
    padding-top: 49px;
}

.card-set {
    display: flex;
        margin-top: 70px;
        flex-wrap: wrap;
        margin-left: 350px;
        margin-right: -30px;
        margin-bottom: -30px;
}

.card-set__item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-set__link {
 
}

.card {
    
}